@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

@theme {
  --font-sans: "Nunito", "Inter", sans-serif;
  --color-persian-blue-950: #152151;
  /* "Inter", ui-sans-serif, system-ui, sans-serif; */
  /* "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

input::file-selector-button {
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gray-600);
  padding: 2px 8px;
  border-radius: var(--radius-sm);
  margin-inline-end: 12px;
}

button:hover {
  cursor: pointer;
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */